$body-color: #222;
$theme-colors: (
  "primary": #ba4053,
  "secondary": #0f3a65,
  "success": #3eff61,
  "danger": #ff0000,
  "warning": #ffff00,
  "info": #00ffce
);
.round-ui {
  @extend .rounded-right;
}
input {
  @extend .round-ui;
}
.btn {
  @extend .round-ui;
}
.row {
  @extend .mb-1;
}
html {
  @extend .h-100;
  @extend .w-100;
}
body {
  background: rgb(0,74,255);
  background: linear-gradient(353deg, rgba(0,74,255,1) 11%, rgba(58,207,118,1) 45%, rgba(0,180,217,1) 74%);
}
@import "../bootstrap/scss/bootstrap";
