$body-color: #222;
$theme-colors: (
  "primary": #ba4053,
  "secondary": #0f3a65,
  "success": #3eff61,
  "danger": #ff0000,
  "warning": #ffff00,
  "info": #00ffce
);
.round-ui {
  @extend .rounded-right;
}
input {
  @extend .round-ui;
}
.btn {
  @extend .round-ui;
}
.row {
  @extend .mb-1;
}
body {
  background: rgb(1,102,14);
  background: linear-gradient(90deg, rgba(1,102,14,1) 0%, rgba(0,180,217,1) 49%, rgba(0,17,140,1) 100%); 
}
@import "../bootstrap/scss/bootstrap";
